<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="options.css">
  </head>
  <body>
    <div class="sidebar">
      <a href="#how-to-use">How to use</a>
      <a href="#settings">Settings</a>
      <a href="#feedback">Feedback</a>
    </div>
    <div class="main">
      <div id="how-to-use" class="tab-content">
        <h1>How to use</h1>
        <p class="offset-left">
        After installing the extension, there will be two ways to create a TinyURL for the website that you'll be visiting. Those are described bellow:
        </p>
        
        <or>
          <li class="thick">Using the extension menu:</li>
          <img src="../images/extension_button.png">
          <p class="offset-left">By clicking the "Create TinyURL" button, the extension will create a tinyurl for the current page you are in, and it will copy the resulting url to the clipboard by default.</p>
          <p class="offset-left">The aliased section will have an alias input for customizing the resulting TinyURL.</p>
          <li class="thick">Using the rightclick menu:</li>
          <img src="../images/rightclick_menu.png">
          <p class="offset-left">Click "Create TinyURL" to quickly create a shortened version of the current page's url.</p>
          <p class="offset-left">The "Create TinyURL with alias" will pop up a prompt to type in the desired alias.</p>
        </or>
        <br>
        <p>The automatic clipboard behavior can be changed in the "Options" section of this page.</p>
      </div>
      <div id="settings" class="tab-content">
        <h1>Settings</h1>
        <fieldset>
          <legend>Alert settings</legend>
          <div class="elements">
            <input type="checkbox" name="enable-alerts" id="enable-alerts">
            <label for="enable-alerts">Enable alerts</label>
            <div class="sub-elements">
              <input type="radio" name="alert-type" id="ext-alert">
              <label for="ext-alert">Show extension alert</label>
              <input type="radio" name="alert-type" id="page-alert">
              <label for="page-alert">Show page alert</label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Clipboard settings</legend>
          <div class="elements">
            <input type="checkbox" name="autocopy" id="autocopy">
            <label for="autocopy">Enable automatic copy</label>
          </div>
        </fieldset>
      </div>
      <div id="feedback" class="tab-content">
        <h1>Feedback</h1>
        <p>Like this extension? Make sure to leave 5 stars at the <a href="#">extension store</a></p>
        <p>Found a bug or want a new feature implemented? Leave a comment at the <a href="#">store</a> or open an issue at the <a href="#">github issues page</a>.</p>
        <p>Wanna know the source code? Access the <a href="#">project page</a> in my github.</p>
      </div>
    </div>
  <script src="options.js"></script>
  </body>
</html>
